<div style="background-color: rgb(234, 248, 171); padding: 20px; border-radius: 10px;" class="container d-flex mt-3">
   <div style="margin-right:60px">
      <h3 class="text-center">Who we are?</h3>
      <p style="text-indent: 50px;" >We are just a small team that decided they wanted to share their passion for anime with other of our kind.
         For a long time being attracted to this kind of content was some of a taboo topic but it's not the case anymore.
         The anime community is growing constantly and fast. So now we think it's important to have fun together
      </p>
   </div>
   <div style="margin-left:60px">
      <h3 class="text-center">What this page is about?</h3>
      <p style="text-indent: 50px;">Well, I guess this is no secret for anyone now, this page will contain up to date news about new anime
         even if we talk about popular or niche ones; but also we would like to focus on what the actual community's
         opinions are, what do you like and why. The rest you will figure out yourselves so that's about it for now.
      </p>
   </div>
</div>

