<div style="margin-top: 50px;" class="container">
    <div class="row">
      <div class="col-3">
        <img src="myApp/img/anime.png" style="width:350px;" alt="Image not found" />
      </div>
      <div class="col-6">
        <h5 style="text-indent:50px; margin-left:70px; margin-top: 70px;"><b><i
          >This is your own private page. Here you will find lots of news about your favourite animes, 
          and an anime list that you can customise by your desires. Please navigate through what we've 
          got to show you and enjoy your time!</i></b></h5>
      </div>
      <div class="col-3">
        <img src="myApp/img/animeRight.png" style="width:275px; margin-left:px;" alt="Image not fount" />
      </div>
    </div>
    <div></div>
</div>
